/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
		.show-menu {
		display: flex;
	}

		.header-logo {
		right: 700px;
	}

	.menu-list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		width: auto;
		height: auto;
		text-align: left;
	}

	.vul-menu {
		max-height: 0px;
		overflow: hidden
	}

	.vul-menu.expand {
		max-height: 100%;
	}

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
		.header-logo {
		right: 400px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
		.header-logo {
		left: -100px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}