/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

		.header-logo {
			right: 700px;
		}

		.menu-list {
			display: none;
		}

		.button {
			display: flex;
			position: absolute;
			top: -15px;
    		right: -10px;
		}

		.o-wrap ul {
			display: flex;
			flex-direction: column;
    		justify-content: center;
    		align-items: center;
   			margin: 0 auto;
    		width: auto;
    		height: auto;
    		text-align: left;
		}

		.btn-see-more a:after {
			right: 200px;
		}

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
		.header-logo {
			right: 400px;
	}

		.sb-top img {
			width: 100%;
	}

		.vul-footer-right {
			padding-bottom: 20px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

		.header-logo {
			left: -50px;
	}

		.sb-top img {
			width: 509px;
			height: 78px;
	}

	.site-pagination li a span {
		display: none;
	}

	.site-pagination li a {
		width: 30px;
		border-radius: 3px;
		padding: 15px 10px;
		font-size: 16px;
	}

	.btn-see-more a:after {
			right: 150px;
	}

	.vul-footer-menu ul {
		flex-direction: column;
	}

	.vul-footer-menu ul li {
		margin-bottom: 10px;
	}

	.vul-prava span {
		font-size: 18px;
		font-weight: 500;
		padding-left: 5px;
	}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
		.header-logo {
			left: -70px;
	}

	.sb-top {
		margin-top: 20px;
	}

	.sb-top img {
			width: 309px;
			height: 58px;
	}

	.btn-see-more a:after {
			right: 50px;
		}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	.btn-see-more a:after {
			right: 30px;
		}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

@media only screen and (min-width : 1460px) {

	.vul-bg-wrapp {
		max-width: 1290px;
	}

}